#mainScreen-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

#mainScreen-buttonContainer {
  padding: 1%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media (max-width: 768px) {
  #mainScreen-buttonContainer {
    display: flex;
    flex-direction: column;
  }
}
