#cameraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  padding: 5px;
  width: 100%;
}

#camera {
  border-radius: 10px;
}

.capture-button {
  border-radius: 10px;
  padding: 5px;
  border: 1px solid gray;
}

#receiptUloadButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#cameraDialogContainer {
  margin: 0 auto;
}

#loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#uploadDialogContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#loadingContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#dialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#receiptDisplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
