/* Browser */
.receiptCard {
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif !important;
  display: flex;
  width: 30vw;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  padding: 20px;
}

/* Small laptop */
@media (max-width: 1024px) {
  .receiptCard {
    width: 60vw;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .receiptCard {
    width: 80vw;
    font-size: 13px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .receiptCard {
    width: 95vw;
    font-size: 13px;
  }
}

#receiptCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#receiptTitle {
  text-align: left;
}

#receiptCardFooter {
  display: flex;
  justify-content: flex-end;
}

th {
  text-align: left;
  width: 40%;
  vertical-align: top;
}

td {
  text-align: left;
  vertical-align: top;
  padding-bottom: 10px;
}

tr {
  line-height: 1;
}

table {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  width: 100%;
}

.innerEditableFields {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#outerEditableItemContainer {
  display: flex;
  flex-direction: row;
}

#innerEditableItemContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#itemNamePriceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#editReceiptButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
